/* reset */
html { height: 100%;/*font-size: 13.333vw;*/font-size: 14px; }
body { min-height: 100% }
body { _height: 100% }
body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, iframe, pre, code, fieldset, legend, form, input, select, textarea, button, p, blockquote, th, td, figure { margin: 0; padding: 0 }
body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, iframe, pre, code, fieldset, legend, form, p, blockquote, figure, header, footer, nav, article, section, aside, address, figcaption { *zoom: 1 }
li { list-style-type: none }
h1, h2, h3, h4, h5, h6 { font-size: 100%;font-weight:normal; }
iframe, frame, fieldset, img { border: 0 none }
img { vertical-align: top }
input[type=button], input[type=submit], input[type=reset] { cursor: pointer }
button { cursor: pointer }
input, textarea, button { -webkit-border-radius: 0; -webkit-appearance: none }
input[type=radio] { -webkit-border-radius: 100%; -webkit-appearance: radio }
input[type=checkbox] { -webkit-appearance: checkbox }
input[type=search] { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; -ms-box-sizing: content-box; -o-box-sizing: content-box; box-sizing: content-box }
textarea { overflow: auto; resize: none }
blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none }
table { border-collapse: collapse; border-spacing: 0 }
caption, th { text-align: left }
th { font-weight: normal }
em, cite, address,i { font-style: normal }
sup { vertical-align: text-top }
sub { vertical-align: text-bottom }
body, input, select, button, textarea { font-size: 14px; font-family:arial,"Microsoft Yahei","\5b8b\4f53";  }
body { line-height: 1.5 }
a { text-decoration: none;-webkit-tap-highlight-color:transparent; color: #777777;transition: 0.3s all;-webkit-transition: 0.3s all;-moz-transition: 0.3s all;-o-transition: 0.3s all; }
a { blr:expression(this.onFocus=this.blur()) }
a * { *cursor: pointer }
/*a:hover{color: #1f63af !important;}*/
:focus { outline: none }
.edit_con_original{ line-height:2; padding:0 0; color:#333;}
.edit_con_original ul{ margin:inherit; padding:inherit; padding-left:2em;}
.edit_con_original ul li { list-style-type:disc; margin:auto; }
.edit_con_original ol{ margin:inherit; padding:inherit}
.edit_con_original ol li { list-style-type:decimal; margin:auto; }
.edit_con_original h1 { font-size: 2em; font-weight:bold }
.edit_con_original h2 { font-size: 1.5em; font-weight:bold }
.edit_con_original h3 { font-size: 1.17em; font-weight:bold }
.edit_con_original h4 { font-size: 1em; font-weight:bold }
.edit_con_original h5 { font-size: 0.83em; font-weight:bold }
.edit_con_original h6 { font-size: 0.67em; font-weight:bold }
.edit_con_original em { font-style: italic }
.edit_con_original cite{ font-style: italic }
.edit_con_original address{ font-style: italic }
.edit_con_original i { font-style: italic }
.edit_con_original table{ border-collapse: separate; border-spacing: 2px }
.edit_con_original img{ max-width:100%; height:auto;}
 
 
/*所有后台编辑器区域都要引用 edit_con_original 类名*/
 
/* clear 页头，页脚，内容区都不用再加清除样式 */
.fixed:before, .clearfix:before, .cf:before, body:before, .header:before, .main:before, .footer:before { content: ''; display: table }
.fixed:after, .clearfix:after, .cf:after, after, .header:after, .main:after, .footer:after { content: ''; display: table; clear: both }
.fixed, .clearfix, .cf, .header, .main, .footer { *zoom: 1 }
 
.clear, .cl { display: block!important; float: none!important; clear: both; width: auto!important; max-width: none!important; min-width: 0!important; max-height: none!important; min-height: 0!important; overflow: hidden; margin: 0!important; padding: 0!important; border: 0 none!important; font-size: 0!important; line-height: 0!important }
                    
.err_position{ width:100%; height:auto; background:url("../images/errors.png.html") center no-repeat;}

/*隐藏视频下载按钮*/
video::-internal-media-controls-download-button {
    display:none;
}

video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 30px); 
}

/*图片经过*/
.tran_scale{ overflow:hidden; display:block;}
/*img{transition: All 0.7s ease-in-out;}*/
.tran_scale img{-webkit-transition: -webkit-transform 0.5s linear;transition:transform 0.5s linear; width:100%;}


/*两端对齐*/
.justify { text-align:justify; text-justify:distribute-all-lines;}
/*上下居中*/
.v-m-c{ transform: translate(0,-50%); -webkit-transform: translate(0,-50%); position:absolute; left:0; top:50%;}

/*左右居中*/
.l-m-c{ transform: translate(-50%,0); -webkit-transform: translate(-50%,0); position:absolute; left:50%; top:0;}

/*绝对居中*/
.a-m-c{ transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); position:absolute; left:50%; top:50%;}

*{box-sizing: border-box;}
.ratio-img img{width: 100%; }

.fl{float: left;}
.fr{float: right;}



/*.swiper-container,.swiper-wrapper,.swiper-slide{height: auto !important;}*/


body{background: #fff !important;}
.wraper{max-width: 1920px;width: 100%;margin: auto;}
.wrap{width: 93.6%;margin: auto;}
.wrap_in{width: 93.6%;margin: auto; max-width: 988px;}

/*.header *{transition: all 0.5s;}*/
.header{position: fixed; width: 100%; padding: 38px 3.2% 0; z-index: 9999; top: 0; left: 0; transition: all 1s; transform: translateY(-100%); -webkit-transform: translateY(-100%); height: 100px; }


.header.on{ transform: translateY(0%); -webkit-transform: translateY(0%);}
.logo{margin-right: 30px;}
.logo img{height: 24px;}
.head{width: calc(100% - 175px);width: -moz-calc(100% - 170px);}
.head.on{display: block;}
.head_t{height: 24px;}
.search_box{cursor: pointer; position: relative; width: 30px; height: 24px;background: transparent url("../images/search.png") center center no-repeat;}
.search{width: 0px; opacity: 0; height: 24px; /*background: rgba(255,255,255,0.5);*/ transition: all 0.4s cubic-bezier(0.42,0,1,1) 0s; position: absolute; top: 0; right: 0; overflow: hidden; border-bottom: #fff solid 1px;}
.search_text{width: 168px; height: 24px; /*line-height: 24px;*/  padding: 0 0 0 12px; border: none; background: none; color: #fff; font-size: 12px; }
.search_text::-webkit-input-placeholder{color: #fff;}

.search_btn{background: transparent url("../images/search.png") center center no-repeat; width: 30px; height: 24px; border: none;}

.lang{margin-left: 20px; font-size: 0;}
.lang a{display: inline-block; line-height: 24px; color: #fff; font-size: 12px;}

.lang_b{display: none;font-size: 0;}
.lang_b a{display: inline-block; line-height: 24px; color: #000; font-size: 12px;}

.nav{ }
.nav ul{font-size: 0;}
.nav ul li{display: inline-block; position: relative; margin: 0 20px;}
.nav ul li > a{color: #fff; display: block;  position: relative; line-height: 1em;/*height: 26px;*/ padding-bottom: 6px;}
/*.nav ul li.on > a{border-bottom: #c5171e solid 2px;}*/
.nav ul li > a em{ position: absolute; left: 50%; bottom: 0; height: 2px; width: 0; transition: 0.3s all;
-webkit-transition: 0.3s all;}
.nav ul li.on > a em{left: 0; width: 100%; background: #c5171e;}

.nav ul li dl{position: absolute; width: 100%; padding:10px 15px; background: #fff; border-bottom: #d4365e solid 2px; z-index: 2; visibility: hidden; opacity: 0;}
.nav ul li dl dd{}
.nav ul li dl dd a{font-size: 12px; color: #777777; line-height: 30px; display: block;}
.nav ul li dl dd.on a{color: #053b88;}

	
.scroll .header{ padding: 20px 3.2%; height: 66px; background: rgba(0,0,0,0.7); transition: all 1s;}




.phone-show{display: none;}


.phone_box{display: none;}
.phone_menu {color: #333;display: block;width: 24px;height: 24px;transform: translateX(0px); cursor: pointer;}

.phone_menu em.p1{ display:block; width:22px; height:2px; background:#fff; position:absolute; top:50%; margin-top:-6px; left:50%; margin-left:-11px; border-radius:2px;}
.phone_menu em.p2{ display:block; width:22px; height:2px; background:#fff; position:absolute; top:50%; margin-top:0; left:50%; margin-left:-11px; border-radius:2px;}
.phone_menu em.p3{ display:block; width:22px; height:2px; background:#fff; position:absolute; top:50%; margin-top:6px; left:50%; margin-left:-11px; border-radius:2px;}
.phone_menu em.p1{ transform:rotate(0deg); margin-top:-7px;}
.phone_menu em.p2{ opacity:1;}
.phone_menu em.p3{ transform:rotate(0deg); margin-top:7px;}
.phone_menu.on{ transform:translateX(0px);}
.phone_menu.on em.p1{ transform:rotate(45deg); margin-top:0;}
.phone_menu.on em.p2{ opacity:0;}
.phone_menu.on em.p3{ transform:rotate(-45deg); margin-top:0;}



.footer{padding: 30px 3.2% 35px; color: #000;}
.footer_l h2{margin-bottom: 5px;}
.footer_l h2 a{color: #000; display: inline-block; padding: 0 10px; border-left: #000 solid 1px; line-height: 1.1em;}
.footer_l h2 a:first-child{border-left: none; padding-left: 0;}
.footer_l p{ line-height: 20px; overflow: hidden;}
.footer_l p em{margin-right: 15px;}
.footer_l p span{ margin: 0 15px 0 0;}
.footer_l p a{color: #000;}
.footer_l p a i{color: #000 !important;}
.footer_r{font-size: 0;}
.footer_r a{margin-left: 20px; position: relative; display: inline-block;}
.footer_r a:first-child{margin-left: 0;}
.ewm{display: none; width: 112px; height: 112px; padding: 18px; background: #fff; position: absolute; right: 0; top: 0; transform: translateY(-110%);-webkit-transform: translateY(-110%); z-index: 100; overflow: hidden;}
.ewm img{width: 100%;}

.search_box.on .search{width: 198px; opacity: 1;}

.footer_r a > img{height: 20px;}

.share div{font-size: 0;}
.share span{float: left; font-size: 14px; line-height: 16px; margin-right: 10px;}
.share a{background-position: center center !important; margin: 0 20px 0 0 !important; padding-left: 20px !important; background-size: auto 100%;}
.share a:hover{opacity: 1 !important;}
.share a.bds_tsina:hover{background-image: url("../images/share_iconh_02.png") !important;}
.share a.bds_qzone:hover{background-image: url("../images/share_iconh_03.png") !important;}
.share a.bds_weixin:hover{background-image: url("../images/share_iconh_04.png") !important;}
.bd_weixin_popup{box-sizing: content-box; }

.page{text-align: center;}
.page a{display: inline-block;line-height: 48px; vertical-align: top;}
.page a.prev,.page a.next{ width: 48px; height: 48px; background-size: 100% 100% !important;}
.page a.prev{background: url("../images/contact_arrowLeft.jpg") no-repeat; margin-right: 50px;}
.page a.next{background: url("../images/contact_arrowRight.jpg") no-repeat; margin-left: 50px;}
.page a.num{color: #000; width: 40px; height: 48px; text-align: center;}
.page a.num.on{color: #ed1c2b;}

.page a.prev.on{background: url("../images/about_pre_on.png") no-repeat;}
.page a.next.on{background: url("../images/about_next_on.png") no-repeat;} 

.back{width: 40px; height: 40px; background: url("../images/back.jpg") no-repeat; background-size: 100% 100%; position: fixed; right: 0; bottom: 80px; z-index: 100; cursor: pointer; display: none;}


@media only screen and (min-width: 1025px) {
	.page a.prev:hover{background: url("../images/about_pre_on.png") no-repeat;}
	.page a.next:hover{background: url("../images/about_next_on.png") no-repeat;}
	.page a.num:hover{color: #ed1c2b;}
	
	.tran_scale:hover img{transform:scale(1.1,1.1); -webkit-transform:scale(1.1,1.1);-moz-:scale(1.1,1.1);-o-transform:scale(1.1,1.1);-ms-transform:scale(1.1,1.1);}
	
	.ie9 .tran_scale:hover img{transform:scale(1,1); -webkit-transform:scale(1,1);-moz-:scale(1,1);-o-transform:scale(1,1);-ms-transform:scale(1,1);}
	
	.nav ul li:hover > a em{left: 0; width: 100%; background: #c5171e;}
	
	.footer_l a:hover{color: #c5171e;}
	.footer_l a:hover i{color: #c5171e !important;}
	.footer_r a:first-child:hover .ewm{display: block;}
}

@media only screen and (max-width: 1024px) {
	*{cursor: pointer;}
	/*.back{width: 40px; height: 40px;}*/
	
	.header{ padding: 20px 3.2%; /*box-shadow:rgba(237,238,240,0.3) 0 0 10px;*/  transition: none; height: 64px!important; }
	
	/*.nav ul li > a i{display: block;}*/
	/*.nav ul li dl{position: fixed;top: 0px; right: 0; z-index: 101; width: 100%; height: 100%;background: #fff; transform: translate(100%);-webkit-transform: translate(100%); transition: all 250ms ease-out;-webkit-transition: all 250ms ease-out; height: 100%; opacity: 1; visibility: visible; padding: 10px 0;}
	.nav ul li dl.on{transform: translate(0);-webkit-transform: translate(0);}
	.nav ul li dl dd a{line-height: 40px; text-align: center;}
	.phone-show{display: block;}*/
	
}
@media only screen and (max-width: 1023px) {
	.footer_r{float: none; padding-top: 10px; clear: both;}
}


@media only screen and (max-width: 768px) {
	.nav ul li{margin: 0 15px;}
}
@media only screen and (max-width: 767px) {
	
	.header{background: rgba(0,0,0,0.7);}
	.phone_box{display: block;}
	
	.head{position: fixed; top: 64px; right: 0; z-index: 1000; width: 320px; background: #fff; padding: 0px 0 20px; transform: translate(100%);-webkit-transform: translate(100%); transition: all 250ms ease-out;-webkit-transition: all 250ms ease-out; height: 100%; height:99990px; background: #fff;}
	.head.on{transform: translate(0);-webkit-transform: translate(0);}
	.head_t{float: none; width: 100%; margin: auto; height: 60px; border-bottom: #dadada solid 1px;}
	.search_box{width:100%; height: 59px;  background: none !important;}
	.search{/*background: rgba(0,0,0,0.3);*/ opacity: 1; width: 100%; height: 59px; position: static; border: none; padding: 0 26px;}
	.search_text{height: 59px; line-height: 59px; padding:0;color: #808080; width: calc(100% - 20px);}
	.search_text::-webkit-input-placeholder{color: #808080;}
	
	.search_btn{width: 20px; height: 59px; background: transparent url("../images/search_black.png") right center no-repeat;}
	
	.lang{position: absolute; top: 400px; margin-left: 26px;}
	.lang a{color: #000; font-size: 14px;}
	
	
	.nav{float: none; margin-top: 0;}
	.nav ul li{display: block; width: 100%; margin: 0;text-align: center; }
	.nav ul li > a{ padding: 0 26px; line-height: 40px; color: #000; display: inline-block; width: 100%; text-align: left;     border-bottom: #dadada solid 1px; height: auto;}
	.nav ul li.on > a{/*border-bottom: #c5171e solid 1px;*/ color: #c5171e !important;}
	.nav ul li.on > a em{display: none;}
	
	
	
	.footer{padding: 20px 3.2%; color: #000;}
	.footer_l{float: none;}
	.footer_r a{margin-left: 20px;}
	.footer_r a > img{height: 20px;}
	.ewm{right: auto; left: 0;}
	.header{ z-index: 99999;}
	.head{ }
	
	.page a.num{display: none;}
	.page a.prev,.page a.next{width: 40px; height: 40px;}
	.page a.prev{margin-right: 10px;}
	.page a.next{margin-left: 10px;}

	.search_text,.search_btn,.search,.search_box,.head_t{height: 40px; line-height: 40px;}
	.lang{top:260px;}
}

@media screen and (orientation: portrait) and (max-width: 767px) {
    /*竖屏 css*/
 	.head{width: 100%;}
}
@media screen and (orientation: landscape) and (max-width: 767px) {
  	/*横屏 css*/
  	.head{width: 50%;}
}


/*font-size*/
.fnt_12 { font-size: 12px;}
.fnt_14 { font-size: 14px;}
.fnt_16 { font-size: 16px;}
.fnt_18 { font-size:18px;}
.fnt_20 { font-size: 20px;}
.fnt_22 { font-size:22px;}
.fnt_24 { font-size:24px;}
.fnt_26 { font-size:26px;}
.fnt_28 { font-size:28px;}
.fnt_30 { font-size:30px;}
.fnt_32 { font-size:30px;}
.fnt_34 { font-size:34px;}
.fnt_36 { font-size:36px;}
.fnt_38 { font-size:38px;}
.fnt_40 { font-size:40px;}
.fnt_44 { font-size:44px;}
.fnt_46 { font-size:46px;}
.fnt_48 { font-size: 48px;}
.fnt_52 { font-size: 52px;}
.fnt_58 { font-size: 58px;}
.fnt_60 {font-size: 60px;}
.fnt_90 {font-size: 90px;}
.fnt_120 { font-size: 120px;}

@media only screen and (max-width: 1607px) {
	.fnt_40{
		font-size: 34px;
	}
}

@media only screen and (max-width: 1600px) {
	.fnt_90 {font-size: 60px;}
}


@media only screen and (max-width: 1520px) {
.fnt_16 { font-size: 14px;}
.fnt_18 {  font-size:15px;}
.fnt_20 { font-size: 16px;}
.fnt_22 {  font-size:18px}
.fnt_24 { font-size:21px;}
.fnt_26 { font-size:24px;}
.fnt_28 {  font-size:22px;}
.fnt_30 {  font-size:24px;}
.fnt_32 {  font-size:25px; line-height:34px; }
.fnt_34 {  font-size:26px;}
.fnt_36 { font-size:28px;}
.fnt_40 { font-size:30px;}
.fnt_44 { font-size:35px;}
.fnt_46 { font-size:36px;}
.fnt_48 {  font-size:38px;line-height: 47px;}
.fnt_52 { font-size:42px;}
.fnt_58 { font-size:48px;}
.fnt_60 {font-size: 48px;}

.fnt_120 { font-size: 105px;}
.fnt_38 { font-size:34px;}
}


@media only screen and (max-width: 1300px) {
.fnt_16 { font-size: 13px;}
.fnt_18 {  font-size:14px;}
.fnt_20 { font-size: 15px;}
.fnt_22 { font-size:16px;}
.fnt_24 { font-size:21px;}
.fnt_26 { font-size:22px;}
.fnt_28 { font-size:18px;}
.fnt_30 {  font-size:20px;}
.fnt_32 { font-size:21px; line-height:29px; }
.fnt_34 { font-size:22px;}
.fnt_36 { font-size:24px;}
.fnt_40 { font-size:26px;}
.fnt_44 { font-size:29px;}
.fnt_46 { font-size:30px;}
.fnt_48 { font-size:32px;line-height:38px;}
.fnt_52 { font-size:36px;}
.fnt_58 { font-size:40px;}
.fnt_60 {font-size:40px;}
.fnt_120 { font-size: 105px;}
.fnt_38 { font-size:28px;}
}

@media only screen and (max-width: 1140px) {
.fnt_26 { font-size:20px;}
.fnt_28 { font-size:16px;}
.fnt_30 {  font-size:18px;}
.fnt_32 { font-size:19px; line-height:26px; }
.fnt_36 { font-size:21px;}
.fnt_40 { font-size:24px;}
.fnt_44 { font-size:26px;}
.fnt_46 { font-size:28px;}
.fnt_48 { font-size:28px;}
.fnt_60 {font-size:34px;}
.fnt_58 { font-size:32px;}
.fnt_52 { font-size:30px;}
.fnt_120 { font-size: 70px;}
.fnt_24 { font-size:18px;}
}

@media only screen and (max-width: 1024px) {
.fnt_14 { font-size:12px;}	
.fnt_26 { font-size:18px;}
.fnt_48 { font-size:26px;line-height:30px;}
.fnt_40 { font-size:20px;}
.fnt_44 { font-size:23px;}
.fnt_46 { font-size:24px;}
.fnt_36 { font-size:19px;}
.fnt_60 {font-size:30px;}
.fnt_120 { font-size: 64px;}
.fnt_24 { font-size:16px;}
.fnt_38 { font-size:20px;}
.fnt_58 { font-size:28px;}
.fnt_52 { font-size:26px;}
}

@media only screen and (max-width: 768px) {
.fnt_22{ font-size:16px;}
.fnt_26 { font-size:16px;}
.fnt_32 { font-size:16px; line-height:24px; }
.fnt_34{ font-size:18px;}
.fnt_36 { font-size:15px;}
.fnt_40 { font-size:20px;}
.fnt_44 { font-size:20px;}
.fnt_46 { font-size:20px;}
.fnt_48 { font-size:20px;}
.fnt_60 {font-size:20px;}
.fnt_120 { font-size: 48px;}
.fnt_38 { font-size:20px;}
.fnt_58 { font-size:24px;}
.fnt_52 { font-size:22px;}
}
@media only screen and (max-width: 767px) {
	.fnt_90 { font-size:30px;}
}




.baner_p_img{width: 57%;}
.baner_p_img img,.phone_baner_p_img img{width: 100%;}
.phone_baner_p_img{display: none;width:280px;}

@media only screen and (max-width: 768px) {
.banner .banner_con{width: 90%;left: 5%;}
.baner_p_img{display: none;}
.phone_baner_p_img{display: block;}
}