.main.contact{padding-top: 100px;padding-bottom: 0px;}
.contact .map {position: relative;}
.contact-title{position: absolute;top: 7.68%;left: 2.63%;color: #fff;z-index: 3;}
.contact-title h4{line-height: 60px;}
.map-pic{width: 100%;height: 0px;padding-bottom: 48.11%;position: relative;}
.map-pic ul,.map-pic ul li{position: absolute;width: 100%;height: 100%;top: 0;left: 0;}
.map-pic ul li{opacity: 0;z-index: 1;transition: all 0.3s;-webkit-transition: all 0.3s;-ms-transition: all 0.3s;-moz-transition: all 0.3s;}
.map-pic ul li.on{opacity: 1;z-index: 2;transition: all 0.3s;-webkit-transition: all 0.3s;-ms-transition: all 0.3s;-moz-transition: all 0.3s;}
.map-pic ul li img{width: 100%;}
.contact_map1{display: none;}
.map-slide{position: absolute;width: 21.68%;top: 8.77%;right: 2.63%;height: 81.91%;z-index: 3;}
.map-messages{width: 100%;height: 93.06%;overflow: hidden;}
.map-messages ol li{width: 100%;/*border-top: 1px solid #ffffff;*/ margin-top:2px;background: rgba(0,0,0,0.58);padding: 5%;color: #fff;cursor: pointer;}
.map-messages ol li.on{background: #c5171e;border-color: #c5171e;}
.map-messages ol li a{color: #fff;}
.map-messages ol dl{width: 100%; height: 100%; position: relative;}
.map-messages ol dt{position: absolute;text-align: center;}
.map-messages ol dt span{display: block;}
.map-messages ol dd{padding-left: 22.62%;line-height: 24px;}
.map-messages ol dd:nth-of-type(1){/*margin-bottom: 3.57%;*/height: auto !important; min-height: 48px; overflow: hidden;}
.map-slide button{width: 11.65%;height: 0;padding-bottom: 11.65%;position: relative;background-size: cover!important;background-repeat:no-repeat;border: none;/*left: 0;*/float: left;margin-top: 2px;}
.map-slide button.left{background-image:url('../images/contact_arrowLeft_on.jpg');}
.map-slide button.right{background-image:url('../images/contact_arrowRight_on.jpg');}
.map-slide button.left.off{background-image:url('../images/contact_arrowLeft.jpg');opacity: 1;}
.map-slide button.right.off{background-image:url('../images/contact_arrowRight.jpg');opacity: 1;}

@media only screen and (max-width: 1549px) {
    .map-messages ol li{/*padding:5% 7.32%;*/transition: all 0.3s; padding: 10px;}
    .map-messages ol dd:nth-of-type(1){height: 42px;min-height: 44px;}
    .map-messages ol dd{line-height: 22px; }
    .map-slide{height: 94%; top:3%;}
}
@media only screen and (max-width: 1280px) {
	.map-slide{width:30%}
	.map-messages ol dd{padding-left: 60px;}
}
@media only screen and (max-width: 1180px) {
	.map-slide{width:33%}
}

@media only screen and (max-width: 1099px) {
    .map-slide{position: relative;width: 100%;top: 0;right: 0;text-align: center;}
    .map-messages{text-align: left;}
    .map-messages ol li{width: 25%;float: left; padding: 1% 1.5%;border-right: 2px solid #fff;}
    .map-messages ol li.on{border-right: 2px solid #fff;}
    .map-messages ol li:last-child,.map-messages ol li:last-child.on{border-right:0;}
    .map-slide button{width: 3.75%;padding-bottom: 3.75%;float: none;display: inline-block;}
    /*.map-messages ol li{border-bottom:1px solid #fff;}*/
    .map-messages ol dd:nth-of-type(1){min-height: 66px;}
    
    .map-messages ol dd{padding-left: 50px;}
    
    .map-slide button{position: absolute; top: -40px; right: 0;}
    .map-slide button.left{right: 3.75%;}
}
@media only screen and (max-width: 1024px) {
    .main.contact{padding-top: 64px;}
    
	.map-pic{padding-bottom: 100%;}
	.contact_map{display: none;}
	.contact_map1{display: block;}
}
@media only screen and (max-width: 1009px) {
    .map-messages ol dt{position: relative;text-align: left;}
    .map-messages ol dt span{display: inline-block;}
    .map-messages ol dd{padding-left: 0px;}
}
@media only screen and (max-width: 768px) {
	/*.map-messages ol li{ padding: 1% 0.5%;}*/
	
	
    .map-slide button{top: -30px;}
}
@media only screen and (max-width: 767px) {
	.map-messages ol li{ padding: 1% 1.5%;}
    

     .map-messages ol li,.map-messages ol li.on{border-right:0;}

    .map-slide button{ width: 35px;padding-bottom: 35px;}
    .map-slide button.left.swiper-button-disabled{background-image:url('../images/contact_arrowLeft.jpg');opacity: 1;}
    .map-slide button.right.swiper-button-disabled{background-image:url('../images/contact_arrowRight.jpg');opacity: 1;}
    .map-messages ol dd:nth-of-type(1){min-height: 44px;}
    .map-slide button.left{right: 35px;}
    .map-slide button{top: -38px;}

}
@media only screen and (max-width: 550px) {
	.map-messages ol li.swiper-slide-active{background: #c5171e;border-color: #c5171e;}
}

/* 搜索页 */

.search-header{width: 536px;height: 50px;line-height: 50px;position: relative;max-width: 96%;margin-bottom: 35px;}
.search-header i{display:inline-block;width: 25px;height: 25px;position: absolute;right: 19px;top: 13px;background: url('https://www.ideal.com.cn/images/search_icon.png') no-repeat;background-size: cover;cursor: pointer;}
.search-header input{width:100%;height: 50px;/*line-height: 50px;*/border-radius: 5px;padding-left: 20px;padding-right: 60px;border: none;background: #edeef0;}
.search-container{width: 1800px;margin: 0 auto;max-width: 93.6%;}
.search-title {margin-bottom: 35px;position: relative;}
.search-title::after{content: '';position: absolute;border-bottom: 4px solid #edeef0;bottom: 0;left: 0;width: 100%;z-index: 1;}
.search-title h4{padding-bottom: 10px;display: inline-block;border-bottom: 4px solid #c5171e;position: relative; z-index: 2;}
.search-body ul li{width: 50%;float: left;padding-bottom: 48px;margin-bottom: 40px;border-bottom: 1px solid #e5e5e5; }
.search-body ul li .item{margin: 0 39px;}
.search-body li span{margin-bottom: 30px;display: block;}
.search-body li h4{white-space: nowrap;text-overflow: ellipsis;overflow: hidden;margin-bottom: 25px;}
.search-body li h4 a{color: #000;transition: all 0.3s;-webkit-transition: all 0.3s;-ms-transition: all 0.3s;-moz-transition: all 0.3s;}
.search-body li h4 a:hover{color: #c5171e;transition: all 0.3s;-webkit-transition: all 0.3s;-ms-transition: all 0.3s;-moz-transition: all 0.3s;}
.search-body li h4 a em{color: #c5171e;}
.search-body li p{line-height: 22px;color: #848484;height: 88px;overflow: hidden;margin-bottom: 10px;}
.search-body li p em{color: #c5171e;}
.search-body li .more{display: inline-block;width: 16px;height: 3px;background: url('https://www.ideal.com.cn/images/searchMoreIcon.png') no-repeat;background-size: cover;}

@media only screen and (max-width: 1024px) {
    .search-body ul li .item{margin: 0 20px;}
    .search-body li span{margin-bottom: 15px;}
    .search-body li h4{margin-bottom: 10px;}
    .search-body li p{height: 66px;}
    .search-body ul li{padding-bottom: 28px;margin-bottom: 30px;}
    .new-detail .close{display: none;}
}

@media only screen and (max-width: 767px) {
    .search-body ul li{ width: 100%;}
   
}

@media only screen and (max-width: 640px) {
    .search-header{margin: 0 auto;}
    .search-title{margin-top: 40px;}
    .search-body ul li .item{margin: 0;}
}

/* 新闻详情页 */
.news-container{width: 988px;margin: 0 auto;max-width: 93.6%;}
.new-detail .posttime{margin-bottom: 15px;color: #c5171e;display: block;}
.new-detail h1{margin-bottom: 25px;}
.detail-prev,.detail-next{display: block;margin-bottom: 3px;}
.detail-prev,.detail-next,.detail-prev a,.detail-next a{color: #848484;}

.detail_h:hover{color: #c5171e;}
.detail_h:hover a{color: #c5171e;}

.detail-prev a:hover,.detail-next a:hover{color: #c5171e;}
.detail-prev{margin-top: 40px;}
.new-detail .edit_con_original{padding-bottom: 45px;}
.new-detail .close{width: 26px;height: 26px;background: url('../images/news_close.jpg') no-repeat;background-size: cover;float: right;margin-top: 15px;}
.new-detail .close:hover{background-image: url('../images/news_close_on.jpg');}

@media only screen and (max-width: 767px) {
    .detail-prev{ margin-top: 20px;}
    .new-detail .edit_con_original{padding-bottom: 25px;}
}