body{background: #edeef0 !important;}
.ie9 .ani{visibility: visible !important;}
.banner {
	position: relative;
	overflow: hidden;
width:100%;    height: 100vh;
}

.banner .swiper-container{
    opacity:0;
    transition:1.4s linear;
    -webkit-transition:1.4s linear;
    transform:scale(1.2);
    -webkit-transform:scale(1.2);
}
/*.banner .swiper-container,.banner .swiper-wrapper{height: auto !important;}*/
.banner .swiper-slide{background-size: cover; background-repeat: no-repeat; background-position: center center; position: relative;cursor: pointer;}

.banner.on .swiper-container{ opacity:1; transform:scale(1); -webkit-transform:scale(1);}

.ban_video video{width: 100%; height: 100%; object-fit: cover;}


/*.banner .pagination {
	font-size: 0;
	position: absolute;
	z-index: 1;
	bottom: 29px;
	width: 100%;
	text-align: center;
}

.banner .swiper-pagination-switch {
	display: inline-block;
	width: 183px;
	height: 2px;
	margin: 2px 1px 0;
	cursor: pointer;
	background: #fff;
}

.banner .swiper-active-switch {
	height: 4px;
	margin: 0 1px;
	background: #c5171e;
}*/

.banner .pagination {
	font-size: 0;
	position: absolute;
	z-index: 1;
	bottom: 29px;
	width: 100%;
	text-align: center;
	padding: 0 3.2%;
}


.banner .swiper-pagination-bullet{
	display: inline-block;
	width: 183px;
	height: 2px;
	margin: 2px 1px 0;
	cursor: pointer;
	background: #fff;
	border-radius: 0;
	opacity: 1;
}

.banner .swiper-pagination-bullet-active {
	height: 4px;
	margin: 0 1px;
	background: #c5171e;
}

.banner_arrow{width: 23px; position: absolute; bottom: 65px; left: 50%; margin-left: -11.5px; z-index: 1;}
.banner_arrow img{width: 100%;}
.mouse{margin-bottom: 13px;}

/*向下的箭头动画*/
.arrow{position: relative;
	-webkit-animation: start 1.5s ease-in-out infinite;
    -moz-animation: start 1.5s ease-in-out infinite;
    -o-animation: start 1.5s ease-in-out infinite;
    animation: start 1.5s ease-in-out infinite;
}

@keyframes start{
	0%,30%{opacity:0;transform:translate(0,-10px)}
	60%{opacity:1;transform:translate(0,0)}
	100%{opacity:0;transform:translate(0,10px)}
}
@-moz-keyframes start{
	0%,30%{opacity:0;transform:translate(0,-10px)}
	60%{opacity:1;transform:translate(0,0)}
	100%{opacity:0;transform:translate(0,10px)}
}
@-webkit-keyframes start{
	0%,30%{opacity:0;transform:translate(0,-10px)}
	60%{opacity:1;transform:translate(0,0)}
	100%{opacity:0;transform:translate(0,10px)}
}
.banner_con{width: 74%;position: absolute; top: 50%; left: 13%;transform: translateY(-40%);-webkit-transform: translateY(-40%); color: #fff;cursor: default;}
.banner_con h1{line-height: 1.1em; border-bottom: #fff solid 3px; display: inline-block; margin-bottom: 15px; padding-bottom: 10px; font-family: "arial";}
.banner_con p{line-height: 1.25em;}


.index1 .swiper-slide{background: #edeef0; position: absolute; left:0; top:0; width:100%; height:100%; z-index: 200; transition:1.5s linear; -webkit-transition:1.5s linear; opacity:0;}



.index1{position: relative; overflow: hidden; margin-bottom: 12%;}
.index1_l{width: 27.16%; height: 100%; color: #000; padding: 36px 3.2%; position: absolute; left:0; top:0; background: #fff;}
.index1_l_con{position: relative; height: 100%;}
.index1_l img{width: auto;}
.index1_tit{overflow: hidden; margin-bottom: 80px;}
.index1_tit span{margin-top: 5px; font-weight: bold;}
.index1_l p{width: 100%; position: absolute; bottom: 0; left: 0;}
.index1_l h1 a{color: #000;}


.index1_r{width: 72.84%; height: 100%; position: relative; float:right}
.index1_r img{width: 100%; height: 100%; transform: scale(1.2); -webkit-transform: scale(1.2); transition:1.5s linear; -webkit-transition:1.5s linear; opacity:0;}
.tran_scale i{width: 100%; height: 100%;background: rgba(0,0,0,0.7); display: block; position: absolute; top: 0; left: 0;-webkit-transition: opacity .4s ease-in;transition: opacity .4s ease-in}

.index1 .swiper-slide.on{ z-index: 400; opacity:1;}
.index1 .swiper-slide.on .index1_r img{ opacity:1; transform: scale(1); -webkit-transform: scale(1);}

.index1_btn{position: absolute; right: 0; top: 50%; transform: translateY(-50%);-webkit-transform: translateY(-50%); z-index: 100; }
.index1_btn .swiper-button-next,.index1_btn .swiper-button-prev {
    position: static;
    top: 50%;
    width: 48px;
    height: 48px;
    margin-top: 0px;
    /*z-index: 10;*/
    cursor: pointer;
    background-size: 100% 100% !important;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.index1_btn .swiper-button-next{background: url("../images/about_next_on.png") no-repeat;}
.index1_btn .swiper-button-prev{background: url("../images/about_pre_on.png") no-repeat}

.index1_btn .swiper-button-next.swiper-button-disabled{background: url("https://www.ideal.com.cn/images/about_next.png") no-repeat; opacity: 1; cursor:default;}
.index1_btn .swiper-button-prev.swiper-button-disabled{background: url("https://www.ideal.com.cn/images/about_pre.png") no-repeat;opacity: 1;cursor:default;}

.index2 ul li{width: 20%; float: left; color: #000; padding: 0 3.2%; border-left: #dadbdd solid 1px; padding-bottom: 50px;}
.index2 ul li:first-child{border-left: none;}
.index2 ul li h1{line-height: 1.1em; height: 1.1em; font-weight: bold; margin-bottom: 5px;}
.index2 ul li p{line-height: 20px; margin-bottom: 45px; height: 40px; overflow: hidden;}
.index2 ul li a{ display: inline-block; padding: 5px 5px 5px 0; font-size: 0; float: left; cursor: default;}

.index3{clear: both;}
.index3_l{position: relative;width: 50%; height: 100%;}

.index3_r{width: 50%; height: 100%;}
.index3_r_c{position: relative;width: 100%; height: 50%;}
.index3_r_b i{background: rgba(255,255,255,0.9);}

.index3_time{position: absolute; left: 0; top: 30px; z-index: 500;/* color: #ed1c2b;*/ color:#c5171e; line-height: 1.5em; font-family: arial; font-weight: bold; padding: 0 6.4%;}
.index3_con{position: absolute; left: 0; bottom: 50px; z-index: 500;  padding: 0 6.4%; width: 100%;}
.index3_con h1{line-height: 1.3em; max-height: 2.6em; margin-bottom: 40px;color:#fff;overflow: hidden;}
.index3_con h1 a{color:#fff;}
.index3_con p{color: #848484; line-height: 24px; max-height: 48px; overflow: hidden;}
.index3_r_b .index3_con h1{color:#000;}
.index3_r_b .index3_con h1 a{color:#000;}
.index3_img{width: 100%; height: 100%; overflow: hidden;}

.index3_img_phone{display: none;}

/*.index3_r_b .index3_con p{color: #000;}*/
.index4{}
.index4_l{width: 50%; height: 100%; border-right:#d5d6d8 solid 1px; border-bottom:#d5d6d8 solid 1px; padding: 3.2%;}
.index4_tit{color:#000; /*margin-bottom: 12%;*/ margin-bottom: 20px;}
.index4_l ul li{width: 25%; float: left; padding-left: 6%; color: #000;}
.index4_l ul li:first-child{padding-left: 0;}
.index4_l ul li h1{margin-bottom: 15px;}
.index4_l ul li h2{line-height: 24px; height: 72px; overflow: hidden; margin-bottom: 10px; color: #848484;}
.index4_l ul li p{line-height: 24px; overflow: hidden;word-wrap:break-word; color: #848484;}
.index4_r{width: 50%; height: 100%; background: #3c3c3c;padding:3.2%;}
.index4_r .index4_tit{color:#fff;}
.index4_r p{color: #fff; line-height: 30px; margin-bottom: 30px;}
.index4_r a{display: block; width: 173px; height: 39px; line-height: 39px; text-align: center; background: #c5171e; color: #fff;}

@media only screen and (min-width: 1024px) {
	.tran_scale:hover i{opacity: 0;}
	.tran_scale:hover .index3_con p{color: #fff;}
	.index3_r_b:hover .index3_con p{color: #000 !important;}
}
@media only screen and (max-width: 1600px) {
	/*.index4_l{padding: 3.2%;}
	.index4_r{padding: 3.2%;}
	.index4_tit{margin-bottom: 50px;}*/
}

@media only screen and (max-width: 1440px) {
	.index3_con{width: 100%; padding: 0 6.4%;}
	.index4_l ul li{width: 50%; margin-bottom: 20px;}
	.index4_l ul li h2{height: 48px;}
	.index4_l ul li:nth-child(2n+1){padding-left: 0; clear: both;}
}

@media only screen and (max-width: 1366px) {
	
	.banner .swiper-pagination-bullet{width: 140px;}
	
	.index3_con{bottom: 30px;}
	.index3_con h1{margin-bottom: 20px;}
	
	.index4_l ul li{width: 50%; margin-bottom: 20px;}
	.index4_l ul li:nth-child(2n+1){padding-left: 0; clear: both;}
}

@media only screen and (max-width: 1200px) {
	
}
@media only screen and (max-width: 1024px) {
	.banner .swiper-pagination-bullet{width: 100px;}
	
	.index1_l p{line-height: 20px; max-height: 140px; overflow: hidden;}
	
	.index3_time{top: 15px;}
	.index3_con{bottom: 15px;}
	.index3_con h1{margin-bottom: 10px;}
	
	/*.index1 .swiper-slide{position: relative; opacity: 1; }*/
	/*.index1_l{position: relative;}*/
	.index1_r img{opacity: 1;}
	
	/*20180828*/
	.index1_r.tran_scale i{display: none;}
	/*.tran_scale i{display: none;}
	.index3_con p{color: #fff;}
	.index3_r_b .index3_con p{color: #000;}*/
	/*20180828*/
	
}
@media only screen and (max-width: 1023px) {
	.index1_tit{margin-bottom: 30px;}
	.index1_l{padding: 20px;}
	.index4_tit{margin-bottom: 20px;}
}

@media only screen and (max-width: 768px) {
	
	.banner .swiper-pagination-bullet{width: 80px;}
	
	.index1_tit{margin-bottom: 10px;}
	.index1_tit img{height: 30px;}
	
	.index2 ul li{padding-bottom: 30px;}
	.index2 ul li p{margin-bottom: 30px;}
	.index3_con h1{margin-bottom: 5px; line-height: 1.1em; max-height: 2.2em;}
	.index3_con p{max-height: 40px; line-height:20px;}
	
	.index4_r{height: auto !important; width: 100%;}
	.index4_r p{line-height: 24px; margin-bottom: 10px;}
	
	.index4_l{width: 100%;}
	/*.index4_l ul li{width: 100%; padding-left: 0; margin-bottom: 20px;}
	.index4_l ul li h1{margin-bottom: 10px;}
	.index4_l ul li h2{height: auto; margin-bottom: 10px;}*/
	
}

@media only screen and (max-width: 767px) {
.main{ padding-top:64px;}
.index_body .main{ padding-top:0px;}


    .banner{ }
	.banner_arrow{display: none;}
	.banner .swiper-container{height: 100vh;}
	.banner .swiper-slide{background-size: cover;background-position: top center; height:100% !important;}
	.banner .swiper-pagination-bullet{width: 40px;}
	/*.banner_con{position: static; transform: translateY(0%);-webkit-transform: translateY(0%); color: #000; padding:220px 3.2% 60px; width: 100%; }*/
    .banner_con{ top:40%; }
	.banner .swiper-slide{background-image:none !important;}
	.banner_con{z-index: 99;}
	.ph_banner_img{background-size: cover;position:  absolute;top: 0;left:  0;width:  100%;height: 100%;}

	.index1{margin-bottom: 30px;}
	.index1 .swiper-slide{height: auto !important; position: relative;}
    .index1_btn,.index1_btn .swiper-button-next, .index1_btn .swiper-button-prev{ z-index: 2000;}
	.index1_l{width: 100%; height: auto; padding:3.2%; position: relative;}
    .index1_container .swiper-wrapper{ height:auto!important;}
	.index1_l p{position: static; margin-top: 10px; line-height: 1.5rem; height: 6em; overflow: hidden;}
	.index1_r{width: 100%; height: auto;}
	.index1_btn { height: 0; font-size: 0; top: auto; bottom: 40%; left: 50%; transform: translate(-50%,0); -webkit-transform: translate(-50%,0); width: 100%;}
	.index1_btn div{display: inline-block; width: 50px;}
	.index1_btn div img{width: 100%;}
	.index1_btn1{float: right;}
	.index1_btn2{float: left;}

    .index1 .swiper-slide,.index1_r img{ opacity:1;}
	
	/*.index1_btn .swiper-button-next, .index1_btn .swiper-button-prev{width: 50px; height: 60px; background-size: 50px 60px !important;}*/
	
	.index1_btn .swiper-button-next{float: right;}
	.index1_btn .swiper-button-prev{float: left;}
	
	.index1_l_con h2{display: none;}
	.tran_scale i{display: none;}
	.index2 ul li h1{font-size: 25px !important; margin-bottom: 10px;}
	
	.index2 ul li{width: 50%; border-left: none; float:left;}
	.index2 ul li:nth-child(2n+1){ clear: both;}
    /*.index2 ul li:last-child{ display: none;}*/
	.index2 ul li p{margin-bottom: 10px; height: auto;}
	/*.index2 ul li:last-child h1,.index2 ul li:last-child p{display: none;}*/
	.index3{height: auto !important;}
	.index3_l{width: 100%; height: auto;}
	.index3_r{width: 100%; height: auto;    display: none;}
	.index3_time{padding: 0 3.2%;}
	.index3_con{padding:5% 3.2%; position: static;}
	.index3_con h1{color: #000;}
	.index3_con h1 a{color: #000000;}
	
	.index3_img1{display: none;}
	.index3_img_phone{display: block;}
	
	.index4{}
	.index4_l{}
	.index4_l ul li{width: 100%; padding-left: 0 !important;}
	.index4_r{ padding: 5% 3.2%;}
	.index4_r a{width: 120px; height: 30px; line-height: 30px;}

	.banner_con h1{ font-size:20px;}
	.index4_tit,.index1_l_con h1{ font-size:20px; font-weight: bold;}
	.index4_tit{margin-bottom: 10px;}
	.index4_l ul li h1{ font-size:16px; font-weight: bold;}
	.index4_l ul li h2{height: auto;}
	.banner_con h1{border-bottom: 2px solid #fff;}


	.index1_btn .swiper-button-prev.swiper-button-disabled,.index1_btn .swiper-button-next.swiper-button-disabled{    pointer-events: inherit;}
}

@media only screen and (max-width: 640px) {
	.index1_btn{bottom: 30%;}
	.index1_btn .swiper-button-next, .index1_btn .swiper-button-prev{
		width: 28px;
	    height: 28px;
	    background-size: 100% 100% !important;
	}
	.index1_btn .swiper-button-next,.index1_btn .swiper-button-prev {
		width: 30px;
		height: 30px;
	}
}
@media only screen and (max-width: 540px) {

}
@media only screen and (max-width: 414px) {
/*.index1_btn{bottom: 30%;}*/
}
@media only screen and (max-width: 375px) {

}
@media only screen and (max-width: 340px) {

}
/*@media only screen and (max-width: 1440px) {
	.banner{margin-bottom: 60px;}
	.index1{margin-bottom: 60px;}
	.index1_tabs{margin-bottom: 50px;}
	.index3{ height: 538px;}
	.index3 h1{margin-bottom: 60px; padding-top: 80px;}
	.index3_wrap{padding-bottom: 100px;}
	.index3_wrap ul li img{height: 150px;}
	.index4_r_btn{width: 60px;}
}*/

/*

@media only screen and (max-width: 1440px) {
	.banner{margin-bottom: 60px;}
	.index1{margin-bottom: 60px;}
	.index1_tabs{margin-bottom: 50px;}
	.index3{ height: 538px;}
	.index3 h1{margin-bottom: 60px; padding-top: 80px;}
	.index3_wrap{padding-bottom: 100px;}
	.index3_wrap ul li img{height: 150px;}
	.index4_r_btn{width: 60px;}
}
@media only screen and (max-width: 1024px) {
	.index3_wrap ul li img{height: 100px;}
	
	.index1_tabs_con{padding: 0 30px;}
	.index1_tabs span{font-size:20px !important;}
	.index3{height: 488px;}
	.index3 h1{font-size:20px !important;}
	
}

@media only screen and (max-width: 768px) {
	.banner_inner ul li{line-height: 40px;}
	.banner_inner ul li img{height: 40px;}
}

@media only screen and (max-width: 767px) {
	.banner{margin-bottom: 0px;}
	.banner_wrap{position: static; padding: 20px 0; background: #fff;}
	.banner_inner ul li{width: 50%; margin-bottom: 10px; line-height: 30px;}
	.banner_inner ul li:nth-child(3n){border-left: none;}
	.banner_inner ul li img{height: 30px;}
	
	.banner .swiper-pagination-switch{margin: 2px 5px; width: 8px; height: 8px;}
	.banner .swiper-active-switch{margin: 0 5px; width: 12px; height: 12px;}
	
	.index1{margin-bottom: 0px;}
	.index1_tabs{margin-bottom: 20px;}
	.index1_tabs span{font-size:18px !important;}
	.index1_tabs_con{padding: 0 5px;}
	.index1_item ul li{width: 100%; margin-bottom: 15px;}
	.index1_item ul li .index1_img{margin-bottom: 20px;}
	.index1_item ul li .index1_time{margin-bottom: 10px;}
	.index1_item ul li h2{margin-bottom: 10px;}
	.index2 ul li{width: 100%;}
	.index2 ul li:nth-child(4) a{height: 141px; padding-bottom: 0;}
	.index3{ height: 478px; padding: 0;}
	.index3 h1{margin-bottom: 30px; font-size: 18px !important; padding-top: 50px;}
	.index3_wrap{padding-bottom: 40px;}
	.index3_wrap ul li{width: 50%; margin-bottom: 20px;}
	.index3_wrap ul li:nth-child(2n+1){clear: both;}
	.index3_wrap ul li img{height: 80px;}
	.index3_wrap ul li p{margin-top: 20px;}
	.index4_r_btn{width: 30px;}
	.index4_l{width: 100%;}
	.index4_l_wrap{right: 15px; top: 15px; padding: 10px;}
	.index4_r{width: 100%;}
	
	.vide0_close{top: 18%;}
	
	
}*/
/* 20180827 */
.banner .swiper-slide>a{position: absolute;top: 0;left: 0;right: 0;bottom: 0;}
/*.banner_con{cursor: pointer;}*/

.banner .swiper-pagination-bullet{height: 20px!important;background: none;position: relative;}
.banner .swiper-pagination-bullet::before{content: "";position: absolute;width: 100%;height: 2px;background: #fff;left: 0;top: 50%;margin-top: -1px;}
.banner .swiper-pagination-bullet.swiper-pagination-bullet-active::before{height: 4px;margin-top: -2px;background: #c5171e;}
.index4_l ul li h1,.index4_l ul li h2{font-size: 14px;}
