.header.header_default{transform: translateY(0%);-webkit-transform: translateY(0%); background: #edeef0; height: 100px;}
.header.header_index{transform: translateY(0%);-webkit-transform: translateY(0%);  height: 100px;}
.header.header_default .nav ul li > a{color: #010101;}
.header.header_default .lang a{color: #000;}
.header.header_default .search_box{background: transparent url("../images/search1.png") center center no-repeat;}
.header.header_default .search{border-bottom-color: #010101;}
.header.header_default .search_btn{background: transparent url("../images/search1.png") center center no-repeat;}
.header.header_default .search_text::-webkit-input-placeholder{color: #808080;}
.header.header_default .search_text{color: #808080;}
.scroll .header.header_default{height: 66px;}

.header.header_default .phone_menu em.p1{background: #000;}
.header.header_default .phone_menu em.p2{background: #000;}
.header.header_default .phone_menu em.p3{background: #000;}


.footer.footer_default{background: #edeef0;}
.main{padding: 170px 0 90px;}

.close{width: 26px;height: 26px;background: url('../images/news_close.jpg') no-repeat;background-size: cover;float: right; clear: both;}
.close:hover{background-image: url('../images/news_close_on.jpg');}

.image{overflow: hidden;}
.image > img{transition: transform 0.5s linear;transition: -webkit-transform 0.5s linear;}

.case-down {
  cursor: pointer;
  width: 235px;
  height: 35px;
  line-height: 35px;
  position: relative;
  border-left: #070707 solid 1px;
}
/*.case-down:first-child{border: none;}*/
.case-down em {
  display: block;
  width: 44px;
  height: 35px;
  position: absolute;
  right: 30px;
  top: 0;
  background: url("../images/project_icon.png") no-repeat right center ;
}
.case-down span {
  display: block;
  color: #000;
  padding: 0 30px;
}
.case-down dl {
  position: absolute;
  top: 100%;
  left: -1px;
  padding: 10px 30px;
  /*background: url("../images/case_down_bg.png") repeat;*/
  background: #fff;
  display: none;
  color: #777;
  width: calc(100% + 1px);
  width: -moz-calc(100% + 1px);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  max-height: 195px;
  cursor: default;
}
.case-down dl dd{cursor: pointer;}
.case-down dl dd.xname{cursor: default;}
.case-down dl dd.xname:hover{color: #777;}
.case-down dl dd.xall{display: none;}
.case-down.on dl dd.xall{display: block;}


.project_search{display: block; padding:0 30px; border: none; width: 100%;/* line-height: 35px;*/ height: 35px; color: #000;}
.project_search::-webkit-input-placeholder{color: #000;}
.case-down i{
	display: block;
  width: 30px;
  height: 35px;
  position: absolute;
  right: 0px;
  top: 0;
  background: url("../images/search1.png") no-repeat right center ;}
  
  
 
/*项目*/
.project_t{margin-bottom: 53px;}
.project_t h1{line-height: 1.125em; padding-bottom: 0.45em; border-bottom: #171717 solid 2px;}
.project_t_wrap{margin-top: 40px;}
.project_c .resource-type-list{margin: 0px -1px; opacity: 0;}
.project_c .panel{float: left; width:24.96%; padding:2px; visibility: hidden;}
.project_c .panel a{display: block; position: relative;overflow: hidden;}

.project_c .panel a img{width: 100%;}
.project_c .panel a i{display: block; width: 100%; height: 100%; background: rgba(197,23,30,0.9); position: absolute; left: 0; top: 0; 
 opacity:0; filter:alpha(opacity=0); -moz-opacity:0; -khtml-opacity:0;
-webkit-transform: translateY(90%); -moz-transform: translateY(90%);-o-transform: translateY(90%);-ms-transform: translateY(90%);transform: translateY(90%);
transition: 0.5s all;-webkit-transition: 0.5s all;-moz-transition: 0.5s all;-o-transition: 0.5s all;
}

.project_c .panel_wrap{position: absolute; left: 0; bottom: 50px; padding: 0px 25px 0; color: #fff; width: 100%; display: none;}
.project_c .panel_wrap .time{line-height: 1em;}
.project_c .panel_wrap .tit{line-height: 1em; margin-bottom: 15px;}
.project_c .panel_wrap > p{line-height: 22px; margin-bottom: 15px;}
.project_c .panel_wrap .bottom{opacity: 0.51; line-height: 22px;}
.project_c .panel_wrap .bottom em{display: inline-block; width: 1px; height: 7px; background: rgba(255,255,255,0.51); margin: 7px; vertical-align: top;}

.load-more-link { display: block; width: 100px;  margin: 0 auto;  color: #000; text-align: center; cursor: pointer; margin-top: 20px;}
#infscr-loading{ background:rgba(0,0,0,0.4); position:fixed; width:100px; height:50px; line-height:50px; font-size:16px; overflow:hidden; border-radius:10px; text-align:center; color:#fff; left:50%; top:50%; z-index:1000; margin:-15px 0 0 -50px; display: none !important;}
.lt9 #infscr-loading{filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#99000000", EndColorStr="#99000000")}
#infscr-loading img{ position:absolute; left:50%; top:50%; margin:-57px 0 0 -75px; opacity:0.5; filter:alpha(opacity=50);}

/*项目内容内*/
.proD{padding-top: 100px !important;}
.proD1{position: relative;}
.proD1_img{width:100%; height: 100%;}
.proD1_btn_box{font-size: 0; position: absolute; top: 60px; right: 3.2%; z-index: 2;}
.proD1_btn{font-size: 14px; text-align: center; width: 110px; height: 26px; line-height: 26px; color: #fff; float: left;
margin: 0 1px; background: #333333; cursor: pointer;}
.proD1_btn img{margin: 9px 10px 0 0;}
.proD1 video{position: absolute; width: 100%; height: 100%; cursor: pointer;}
.video_btn{cursor: pointer; width: auto !important; z-index: 20;}
.proD1 .swiper-pagination{position: static; display: inline-block; width: auto;}
.proD1 .swiper-slide{  overflow: hidden; background: #fafafa;}
.ie9 .proD1 .swiper-slide{opacity: 0 !important;}
.ie9 .proD1 .swiper-slide.swiper-slide-active{opacity: 1 !important;}
.ie10 .proD1 .swiper-slide.swiper-slide-active{z-index: 2;}
.proD1 .swiper-button-next,.proD1 .swiper-button-prev{width: 48px; height:48px; background-size: 100% 100%; margin-top: -24px;}
.proD1 .swiper-button-prev{background-image: url("../images/about_pre_on.png"); left: 3.2%;}
/*.proD1 .swiper-button-prev:hover{background-image: url("../images/contact_arrowLeft_on.jpg");}*/
.proD1 .swiper-button-next{background-image: url("../images/about_next_on.png"); right: 3.2%;}
/*.proD1 .swiper-button-next:hover{background-image: url("../images/contact_arrowRight_on.jpg");}*/

.proD1 .swiper-button-prev.swiper-button-disabled,.proD1 .swiper-button-next.swiper-button-disabled{opacity: 1;}
.proD1 .swiper-button-prev.swiper-button-disabled{background-image: url("../images/contact_arrowLeft.jpg");}
.proD1 .swiper-button-next.swiper-button-disabled{background-image: url("../images/contact_arrowRight.jpg");}




.proD1_zz{position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.8); z-index: 10000; display: none;}
.proD1_fixed{position: fixed; top: 50%; left: 50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); width: 68%;z-index: 10001;display: none;}
.proD1_fixed .swiper-container{width: 100%;}
.proD1_fixed .swiper-slide{cursor: pointer; overflow: hidden;}
.proD1_fixed .swiper-slide.on:after{    
		content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(35, 35, 35, 0.85);
    border: 1px solid white;
    box-sizing: border-box;
}
.proD1_fixed video{position: absolute; width: 100%; height: 100%; cursor: pointer;}
.proD1_fixed .video_btn{width: 40px !important;}

.proD1_close{position: absolute; right: -26px; top: -26px; width: 26px; height: 26px; line-height: 26px; text-align: center;cursor: pointer;background: url("../images/news_close_on.jpg") no-repeat;}

.proD1_fixed .swiper-button-next{width: 48px; height: 48px;right:-60px; background: url("../images/index1_icon01_h.jpg") no-repeat;background-size: contain;}
.proD1_fixed .swiper-button-prev{width: 48px; height: 48px;left:-60px; background: url("../images/index1_icon02_h.jpg") no-repeat;background-size: contain;}
.proD1_fixed .swiper-button-next.swiper-button-disabled{/*opacity: 1*/ display: none;}
.proD1_fixed .swiper-button-prev.swiper-button-disabled{/*opacity: 1*/ display: none;}




.proD2{padding: 70px 0 47px 0; overflow: hidden; border-bottom: #edeef0 solid 1px; margin-bottom: 40px;}
.proD2_tit{margin-bottom: 25px;}
.proD2_tit h1{line-height: 1.1em; width: calc(100% - 50px);}

.proD2_info{margin-bottom: 30px;}
.proD2_info ul li{display: inline-block; border-bottom: #000000 solid 1px; padding: 10px 10px 10px 0; margin-right: 50px;}
.proD2_info ul li:first-child{padding: 10px 0;}
.proD2_info ul li:last-child{margin-right: 0;}
.proD2_info ul li p{line-height: 28px;}
.proD2_info ul li .p1{color: #3c3c3c;}
.proD2_info ul li .p2{color: #3c3c3c; font-weight: bold;}

.proD2_con_tit{line-height: 1em; color: #000; margin-bottom: 35px;}
.proD2_share{margin: 100px 0 15px;}

.proD3 h1{color: #000; line-height: 1em; margin-bottom: 44px;}
.proD3 ul{margin: 0 -1px;}
.proD3 ul li{width: 33.333333%; padding: 0 1px; float: left;}
.proD3 ul li a{display: block; position: relative;}
.proD3 ul li a img{width: 100%;}
.proD3 ul li a i{width: 100%; height: 100%; opacity: 1; background: rgba(0,0,0,0.6); display: block; position: absolute; top: 0; left: 0;-webkit-transition: all .4s ease-in;transition: all .4s ease-in}

.proD3 ul li a .time{color: #848484; line-height: 1em; font-family: arial; }
.proD3 ul li a .con{position: absolute;left: 0;bottom: 0px;z-index: 500;padding: 20px;width: 100%}
.proD3 ul li a .con h1{line-height: 1.1em;margin-bottom: 20px; color: #848484;}
.proD3 ul li a .con .bottom{ color: #848484;line-height: 24px;height: 48px;overflow: hidden;}

.proD3 ul li a:hover .con h1{color: #fff;}
.proD3 ul li a:hover i{opacity: 0;}
.proD3 ul li a:hover .con .bottom{color: #fff;}
.proD3 ul li a:hover .time{color: #fff;}

/*新闻*/
.news_t{text-align: center; font-size: 0; margin-bottom: 73px;}
.news_t ul{display: inline-block; }
.news_t ul li{float: left; position: relative;border-bottom: #edeef0 solid 2px; margin: 0 1px;}
.news_t ul li a{display: block; height: 112px; line-height: 112px; width: 183px; color: #848484; position: relative;cursor: pointer;bottom: -2px;}
.news_t ul li a em{position: absolute; left: 50%; bottom: 0; height: 4px; width: 0; transition: 0.3s all;
-webkit-transition: 0.3s all;}
/* .news_t ul li:hover a em{left: 0; width: 100%; background: #c5171e;} */
.news_t ul li.on a em{left: 0; width: 100%; background: #c5171e;}
/* .news_t ul li:hover a{color: #000;} */
.news_t ul li.on a{color: #000;}

.news_c .resource-type-list{margin: 0 -1px;}
.news_c .panel{padding: 2px; width: 33.3%;}
.news_c .panel > div{display: block; position: relative; background: #edeef0;}

.news_c .panel > div .image img{width: 100%;}


.news_c .panel_wrap{ padding: 35px 40px; width: 100%;}
.news_c .panel_wrap .time{line-height: 1em; color: #c5171e; margin-bottom: 15px;}
.news_c .panel_wrap .tit{line-height: 1.25em; margin-bottom: 25px;}
.news_c .panel_wrap .tit a{color: #000000;}
.news_c .panel_wrap > p{line-height: 22px; margin-bottom: 30px; color: #848484;}
.news_c .panel_wrap .link{ }
.news_c .panel_wrap .link a{display: inline-block; padding: 5px 0;}

/*招聘*/
.recruit1{background: #edeef0; overflow: hidden; margin-bottom: 30px;}
.recruit1_l{width: 50%; height: 100%;}
.recruit1_l img{width: 100%; height: 100%;}
.recruit1_img1{display: none;}
.recruit1_r{width: 50%; padding: 3.9% 4.4% 3%; height: 100%;}
.recruit1_r_wrap{width: 100%; height: 100%;}
.recruit1_r h1{line-height: 1em; font-weight: bold; color: #000; margin-bottom: 35px;}
.recruit1_r h2{color: #000; line-height: 1.25em; height: 2.5em; overflow: hidden; margin-bottom: 40px;}
.recruit1_r_con{ margin-bottom: 20px; overflow: hidden; height:120px;}
.recruit1_r_dl{line-height: 20px;}
.recruit1_r_dl img{margin-right: 8px; width: auto !important;}
.recruit1_r_dl a{color: #848484;/* text-decoration: underline;*/}
.recruit1_r_dl a:hover{color: #c5171e;}

.recruit2{ margin-bottom: 110px;}
/*.recruit2 ul li *{transition: all 0.5s; }*/
.recruit2 ul li:nth-child(2n+1) dt{background-color: #f4f4f4;}
.recruit2 ul li dt{padding: 2.8% 6.1%; line-height: 18px; overflow: hidden; cursor: pointer;border-bottom: #e3e4e6 solid 1px;}
.recruit2 ul li dt h1{padding-left: 30px; background: url("../images/recruit_dt_icon01.png") left 6px no-repeat;}
.recruit2 ul li dt img{margin-top: 4px;}

.recruit2 ul li dd{padding: 5% 6.1%; overflow: hidden; background-size: 300% auto; background-position: center top; background-repeat: no-repeat; display: none;}
.recruit2 ul li.on dt{display: none;}
.recruit2 ul li.on dd{display: block;}

/*.recruit2 ul li:first-child dt{display: none;}
.recruit2 ul li:first-child dd{display: block;}*/

.recruit2_t{margin-bottom: 80px; overflow: hidden;}
.recruit2_t h1{color: #fff; line-height: 1em;}
.recruit2_t img{margin-top: 0px; cursor: pointer; width: 20px !important; height: auto !important;}
.recruit2_c{overflow: hidden; position: relative;}
.recruit2_c:before{content: ""; width: 1px; height: 100%; background: rgba(255,255,255,0.12); position: absolute; left:28%;}
.recruit2_c:after{content: ""; width: 1px; height: 100%; background: rgba(255,255,255,0.12); position: absolute; left:67%;}

.recruit2_item{ float: left; color:#fff; box-sizing: border-box; }
.recruit2_item1{width: 28%; padding-right: 5%;}
.recruit2_item2{width: 39%;padding: 0 5%; /*border-left: rgba(255,255,255,0.12) solid 1px; border-right: rgba(255,255,255,0.12) solid 1px;*/}
.recruit2_item3{width: 33%; padding: 0 5%;}

.recruit2_item1_con p{line-height: 18px; color: #fff; margin-bottom: 32px; padding-left: 36px;}
.recruit2_item1_con p:nth-child(1){background: url("../images/recruit2_dd_icon03.png") left 1px no-repeat;}
.recruit2_item1_con p:nth-child(2){background: url("../images/recruit2_dd_icon04.png") left 1px no-repeat;}
.recruit2_item1_con p:last-child{margin-bottom: 0;background: url("../images/recruit2_dd_icon05.png") left 1px no-repeat;}
.recruit2_item1_con p img{margin-right: 20px;}
.recruit2_item1 > a{display: block; width: 173px; height: 39px; line-height: 39px; text-align: center; color: #fff; background: #c5171e; margin-top: 100px;}

.recruit2_item h2{line-height: 1em; margin-bottom: 30px;}
.recruit2_item2_con p{line-height: 18px;background: url("../images/recruit2_dd_icon02.png") left 5px no-repeat; padding-left: 15px; margin-bottom: 20px;}
.recruit2_item2_con p:last-child{margin-bottom: 0;}

@media only screen and (min-width: 1025px) {
	.case-down dl dd:hover{color: #c5171e;}
	
	/*项目*/
	.project_c .panel a:hover i{opacity:1;filter:alpha(opacity=100); -moz-opacity:1; -khtml-opacity:1;-webkit-transform: translateY(0px); -moz-transform: translateY(0px);-o-transform: translateY(0px);-ms-transform: translateY(0px);transform: translateY(0px);}
	.project_c .panel a:hover .panel_wrap{display: block;}
	.project_c .panel a:hover img{transform:scale(1.1,1.1); -webkit-transform:scale(1.1,1.1);}
	
	/*动态*/
	.news_c .panel_wrap .tit a:hover{color:#c5171e;}
	
	/*项目内容内*/
	.proD1_btn:hover{background: #c5171e;}
	.news_t ul li:hover a em{left: 0; width: 100%; background: #c5171e;}
	.news_t ul li:hover a{color: #000;}
}

@media only screen and (max-width: 1800px) {
	/*招聘*/
	.recruit1_r{padding: 40px;}
}

@media only screen and (max-width: 1520px) {
	/*项目*/
	.project_t_wrap{margin-top: 20px;}
}

@media only screen and (max-width: 1440px) {
	/*项目*/
	.project_c .panel_wrap{padding: 0 25px; bottom: 25px;}
	
	
	.recruit1_r h1{margin-bottom: 20px;}
	.recruit1_r h2{margin-bottom: 20px;}
	.recruit1_r_con{margin-bottom: 20px;}
}

@media only screen and (max-width: 1366px) {
	.main{padding: 150px 0 50px;}
	.case-down{width: 180px; height: 30px; line-height: 30px;}
	.project_search{/*line-height: 30px;*/ height: 30px;}
	.case-down i{height: 30px;}
	.case-down em{height: 30px;}
	
	.case-down dl{max-height: 170px;}
	
	/*项目*/
	.project_t{margin-bottom: 40px;}
	/*.project_c .panel_wrap{padding: 25px;}*/
	
	/*项目内容内*/
	.proD2{padding: 50px 0 30px;}
	.proD2_share{margin: 50px 0 15px 0;}
	
	/*新闻*/
	.news_t ul li a{width: 150px; height: 80px; line-height: 80px;}
	.news_t{margin-bottom: 40px;}
	
	/*招聘*/
	.recruit2{margin-bottom: 50px;}
	
}
@media only screen and (max-width: 1200px) {
	/*招聘*/
	.recruit1_r{padding: 30px;}
}


@media only screen and (max-width: 1024px) {
	.header.header_default{height: auto;}
	.main{padding: 104px 0 40px;}
	
	/*项目*/
	.project_t{margin-bottom: 30px;}
	.project_c .panel_wrap{position: static; display: block; background: rgba(0,0,0,0.6); padding: 25px;}
	
	/*项目内容内*/
	.proD{padding-top: 64px !important;}
	.close{display: none;}
	
	.proD3 ul li a .time{color: #fff;  }
	.proD3 ul li a .con h1{ color: #fff;}
	.proD3 ul li a .con .bottom{ color: #fff;}
	
	/*新闻*/
	.news_t{margin-bottom: 30px;}
	
	/*招聘*/
	.recruit1_r h1{margin-bottom: 10px;}
	.recruit1_r h2{margin-bottom: 10px;}
	
	.recruit2_t{margin-bottom: 40px;}
	/*.recruit2_item3{padding: 0 0 0 5%;}*/
	.recruit2{margin-bottom: 40px;}
	
	.recruit2_c:before,.recruit2_c:after{width: 0;}
	.recruit2_item1,.recruit2_item2,.recruit2_item3{width: 100%; padding: 0; margin-bottom: 30px;}
	.recruit2_item3{margin-bottom: 0;}
	.recruit2_item1_con{overflow: hidden;}
	.recruit2_item1_con p{width: 33.333333%; float: left; padding-right: 20px; margin-bottom: 0;}
	.recruit2_item1 > a{margin-top: 20px;} 
}


@media only screen and (max-width: 768px) {
	.main{padding: 94px 0 30px;}
	
	
	/*项目*/
	.project_t_wrap.fr{float: none; width: 100%; clear: both;}
	.case-down {/*margin-bottom: 10px; border-left: none !important; border-right: #000 solid 1px !important;*/ width: 25%;}
	.case-down span{padding: 0 10px;}
	.project_search{padding: 0 30px 0 10px;}
	.case-down em{right: 10px;}
	.project_t h1{margin-bottom: 10px;}
	.case-down dl{padding: 10px;}
	
	.project_t{margin-bottom: 20px;}
	.project_c .panel{width: 49.96%;}
	
	
	
	/*项目内容内*/
	.video_btn{width: 40px !important;}
	.proD1_btn_box{top: 30px;}
	.proD2{padding: 30px 0; margin-bottom: 20px;}
	.proD2_tit{margin-bottom: 15px;}
	.proD2_info ul li{margin-right: 30px;}
	.proD2_con_tit{margin-bottom: 25px;}
	.proD2_share{margin: 30px 0 15px;}
	.proD3 h1{margin-bottom: 25px;}
	
	/*新闻*/
	.news_c .panel{width: 50%;}
	.news_c .panel_wrap{padding: 20px;}
	.news_t ul li a{width: 100px; height: 44px; line-height: 44px;}
	.news_t{margin-bottom: 20px;}
	.news_c .panel_wrap .tit{margin-bottom: 20px;}
	.news_c .panel_wrap > p{margin-bottom: 20px;}
	
	/*招聘*/
	.recruit1{margin-bottom: 20px; height: auto !important;}
	.recruit1_img{display: none;}
	.recruit1_img1{display: block;}
	.recruit1_r{padding: 20px;}
	
	.recruit2{margin-bottom: 20px;}
	.recruit2_item1 > a{width: 120px; line-height: 30px; height: 30px; /*margin-top: 50px;*/}
}
@media only screen and (max-width: 767px) {
	/*项目*/
	/*.project_c .panel{width: 100%;}*/
	.case-down {width: 50%; margin-bottom: 10px;}
	.case-down:nth-child(2n+1){border-left: none;}
	.case-down dl{background: #fff;}
	
	/*项目内容内*/
	.proD1_btn_box{top: 15px;}
	.proD2_info ul li{margin-right: 10px; padding-right: 0;}
	.proD2_tit a img{width: 30px;}
	.proD3 ul li{width: 100%; margin-bottom: 10px;}
	.proD3 ul li:last-child{margin-bottom: 0;}
	
	/*.proD3 ul li a i{display: none;}
	.proD3 ul li a .con{position: static; background: rgba(0,0,0,0.6); position: static;}*/
	.proD3 ul li a .con h1{color: #fff;}
	.proD3 ul li a .con .bottom{color: #fff;}
	.proD3 ul li a .time{color: #fff;}
	
	
	/*新闻*/
	.news_c .panel{width: 100%;}
	.news_t ul li a{width: 70px; }
	
	/*招聘*/
	.recruit1{height: auto !important;}
	.recruit1_l{width: 100%; }
	.recruit1_r{width: 100%;}
	.recruit2_t{margin-bottom: 20px;}
	.recruit2_item1_con p{margin-bottom: 15px; width: 100%;}
	.recruit2_item1 > a{margin-top: 20px;}
	.recruit2_item h2{font-size: 16px !important; margin-bottom: 15px;}
	.recruit2_item2_con p{margin-bottom: 10px;}
	
	.recruit2_t img{height: 16px; margin-top: 0;}
	.recruit2 ul li dd{padding: 20px;}
	.recruit2_item{width: 100%; padding: 0; border: none; margin-bottom: 20px;}
	.recruit2_item:last-child{ margin-bottom: 0;}
	
	.recruit2 ul li dt{padding: 4.5% 6.1%;}
	
	.recruit2_c:before{display: none;}
	.recruit2_c:after{display: none;}
	.recruit2 ul li dd{  background-size: 1000% auto; }
}
@media only screen and (max-width: 540px) {
.project_c .panel_wrap .bottom{display: none;}
.project_c .panel_wrap{padding: 10px;}
.project_c .panel_wrap .time{margin-bottom: 5px;}
.project_c .panel_wrap .tit{margin-bottom: 10px;}

}
@media only screen and (max-width: 375px) {
	/*项目内容内*/
	.proD2_info ul li{margin-right: 5px; }
}


@media only screen and (max-width: 1366px) {
.recruit1_r_con{ height: 80px; }
}

@media only screen and (max-width: 1024px) {
.recruit1_r_con{ margin-bottom: 10px;}

}

@media only screen and (max-width: 950px) {
.recruit1_r h2{height: 1.25em;}
.recruit1_r{padding:  20px;}
.recruit1_r h1{margin-bottom: 6px;}

}

@media only screen and (max-width: 768px) {
.recruit1_r_con{ height: 100px;}
}

@media only screen and (max-width: 767px) {
.recruit1_r_con{ height: auto; margin-bottom: 20px;}
.proD3 ul li a .con .bottom{display: none;}
.proD3 ul li a .time{margin-bottom: 5px;}
.proD3 ul li a .con h1{margin-bottom: 0px; line-height: 1.5em; height: 3em; overflow: hidden;}
.about_banner_p,.about_banner_p p{font-size: 14px; }
.about_banner_p{ line-height: 1.5em; height: 15em;}
}
@media only screen and (max-width: 640px) {
	.proD1 .swiper-button-next, .proD1 .swiper-button-prev{width: 28px; height: 28px; margin-top: -14px;}
}
.project_search{color:gray } 